body {
  background-color:black;
}

.container {
  width:1230px;
  height:800px;
  background:black;
  color:white;
  margin-top:100px;
  background-image:url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-371628.jpg");
  border: 15px solid #43344c;
}

#topper {
  text-align:center;
  font-family: 'Poiret One';
  background-color:#43344c;
}

#topper h1 {
  font-size:100px;
}

.btn-transparent{
  background: transparent;

  color: white;
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
  border: 2px solid white;
}

.player1 {
  margin-left:100px;
  margin-right:100px;
  color:white;
}

.player2 {
  margin-left:100px;
  margin-right:100px;
  display:none;
}

.combined {
  display: none;
  margin-left:100px;
  margin-right:100px;
  color:white;
}

input {
  display: none;
}

.col-md-2 {
  background-color:#6d8bba;
}

.select {
  background-color:orange;
}

#a1, #a2 , #a3, #a4, #a5, #a6,
#a7, #a10 , #a15, #a16, #a21, #a22,
#a8, #a11 , #a14, #a17, #a20, #a23,
#a9, #a12 , #a13, #a18, #a19, #a24,
#a25, #a26, #a27, #a28, #a29, #a30,
#a36, #a35, #a34, #a33, #a32, #a31{
  width:80px;
  height:80px;
  display: table-cell;
  border:1px solid black;
}

#b1, #b2 , #b3, #b4, #b5, #b6,
#b7, #b10 , #b15, #b16, #b21, #b22,
#b8, #b11 , #b14, #b17, #b20, #b23,
#b9, #b12 , #b13, #b18, #b19, #b24,
#b25, #b26, #b27, #b28, #b29, #b30,
#b36, #b35, #b34, #b33, #b32, #b31{
  width:80px;
  height:80px;
  display: table-cell;
  border:1px solid black;
}

#ac1, #ac2 , #ac3, #ac4, #ac5, #ac6,
#ac7, #ac10 , #ac15, #ac16, #ac21, #ac22,
#ac8, #ac11 , #ac14, #ac17, #ac20, #ac23,
#ac9, #ac12 , #ac13, #ac18, #ac19, #ac24,
#ac25, #ac26, #ac27, #ac28, #ac29, #ac30,
#ac36, #ac35, #ac34, #ac33, #ac32, #ac31{
  width:80px;
  height:80px;
  display: table-cell;
  border:1px solid black;
}

#bc1, #bc2 , #bc3, #bc4, #bc5, #bc6,
#bc7, #bc10 , #bc15, #bc16, #bc21, #bc22,
#bc8, #bc11 , #bc14, #bc17, #bc20, #bc23,
#bc9, #bc12 , #bc13, #bc18, #bc19, #bc24,
#bc25, #bc26, #bc27, #bc28, #bc29, #bc30,
#bc36, #bc35, #bc34, #bc33, #bc32, #bc31{
  width:80px;
  height:80px;
  display: table-cell;
  border:1px solid black;
}

#c1, #c2 , #c3, #c4, #c5, #c6,
#c7, #c10 , #c15, #c16, #c21, #c22,
#c8, #c11 , #c14, #c17, #c20, #c23,
#c9, #c12 , #c13, #c18, #c19, #c24,
#c25, #c26, #c27, #c28, #c29, #c30,
#c36, #c35, #c34, #c33, #c32, #c31{
  width:80px;
  height:80px;
  display: table-cell;
  border:1px solid black;
}


#a1:hover, #a2:hover , #a3:hover, #a4:hover, #a5:hover, #a6:hover,
#a7:hover, #a10:hover , #a15:hover, #a16:hover, #a21:hover, #a22:hover,
#a8:hover, #a11:hover , #a14:hover, #a17:hover, #a20:hover, #a23:hover,
#a9:hover, #a12:hover , #a13:hover, #a18:hover, #a19:hover, #a24:hover,
#a25:hover, #a26:hover, #a27:hover, #a28:hover, #a29:hover, #a30:hover,
#a36:hover, #a35:hover, #a34:hover, #a33:hover, #a32:hover, #a31:hover{
  background-color: black;
}

#b1:hover, #b2:hover , #b3:hover, #b4:hover, #b5:hover, #b6:hover,
#b7:hover, #b10:hover , #b15:hover, #b16:hover, #b21:hover, #b22:hover,
#b8:hover, #b11:hover , #b14:hover, #b17:hover, #b20:hover, #b23:hover,
#b9:hover, #b12:hover , #b13:hover, #b18:hover, #b19:hover, #b24:hover,
#b25:hover, #b26:hover, #b27:hover, #b28:hover, #b29:hover, #b30:hover,
#b36:hover, #b35:hover, #b34:hover, #b33:hover, #b32:hover, #b31:hover{
  background-color: black;
}

#ac1:hover, #ac2:hover , #ac3:hover, #ac4:hover, #ac5:hover, #ac6:hover,
#ac7:hover, #ac10:hover , #ac15:hover, #ac16:hover, #ac21:hover, #ac22:hover,
#ac8:hover, #ac11:hover , #ac14:hover, #ac17:hover, #ac20:hover, #ac23:hover,
#ac9:hover, #ac12:hover , #ac13:hover, #ac18:hover, #ac19:hover, #ac24:hover,
#ac25:hover, #ac26:hover, #ac27:hover, #ac28:hover, #ac29:hover, #ac30:hover,
#ac36:hover, #ac35:hover, #ac34:hover, #ac33:hover, #ac32:hover, #ac31:hover{
  background-color: black;
}

#bc1:hover, #bc2:hover , #bc3:hover, #bc4:hover, #bc5:hover, #bc6:hover,
#bc7:hover, #bc10:hover , #bc15:hover, #bc16:hover, #bc21:hover, #bc22:hover,
#bc8:hover, #bc11:hover , #bc14:hover, #bc17:hover, #bc20:hover, #bc23:hover,
#bc9:hover, #bc12:hover , #bc13:hover, #bc18:hover, #bc19:hover, #bc24:hover,
#bc25:hover, #bc26:hover, #bc27:hover, #bc28:hover, #bc29:hover, #bc30:hover,
#bc36:hover, #bc35:hover, #bc34:hover, #bc33:hover, #bc32:hover, #bc31:hover{
  background-color: black;
}

#c1:hover, #c2:hover , #c3:hover, #c4:hover, #c5:hover, #c6:hover,
#c7:hover, #c10:hover , #c15:hover, #c16:hover, #c21:hover, #c22:hover,
#c8:hover, #c11:hover , #c14:hover, #c17:hover, #c20:hover, #c23:hover,
#c9:hover, #c12:hover , #c13:hover, #c18:hover, #c19:hover, #c24:hover,
#c25:hover, #c26:hover, #c27:hover, #c28:hover, #c29:hover, #c30:hover,
#c36:hover, #c35:hover, #c34:hover, #c33:hover, #c32:hover, #c31:hover{
  background-color: black;
}




.col-md-6 {
  float: left;
}


button {
  margin-top:10px;
}




.miss {
  background-color: red;
}

.hit{
  background-color: green;
}

.remain{
  background-color: yellow;
}
